.loading {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(#145388, 0.2);
  border-radius: 50%;
  border-top-color: #145388;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  position: fixed;
  z-index: 1;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.lds-ripple {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  z-index: 1000;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #145388;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
